services:
  waste-tracking-external-api:
    image: defradigital/waste-movement-external-api:${WASTE_TRACKING_EXTERNAL_API_VERSION:-latest}
    ports:
      - '3001:3001'
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      PORT: 3001
      NODE_ENV: development
      ENVIRONMENT: local
      MONGO_URI: mongodb://mongodb:27017/?replicaSet=rs0&directConnection=true
      WASTE_TRACKING_SERVICE_URL: http://waste-tracking-id-backend:3001
      WASTE_MOVEMENT_SERVICE_URL: http://waste-movement-backend:3001
    networks:
      - cdp-tenant

  waste-movement-backend:
    image: defradigital/waste-movement-backend:${WASTE_MOVEMENT_BACKEND_VERSION:-latest}
    ports:
      - '3002:3001'
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      PORT: 3001
      NODE_ENV: development
      ENVIRONMENT: local
      MONGO_URI: mongodb://mongodb:27017/?replicaSet=rs0&directConnection=true
      ORG_API_CODES: ${ORG_API_CODES}
      MONGO_READ_PREFERENCE: primary
    networks:
      - cdp-tenant

  waste-tracking-id-backend:
    build:
      context: .
      target: development
    ports:
      - '3003:3001'
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      PORT: 3001
      NODE_ENV: development
      ENVIRONMENT: local
      MONGO_URI: mongodb://mongodb:27017/?replicaSet=rs0&directConnection=true
    networks:
      - cdp-tenant
    volumes:
      - ./src:/home/node/src:Z
      - ./package.json:/home/node/package.json:Z

  mongodb:
    image: mongo:6.0.13
    entrypoint: ['bash', '/compose/mongo_setup.sh']
    networks:
      - cdp-tenant
    ports:
      - '27017:27017'
    volumes:
      - mongodb-data:/data/db
      - ./compose/mongo_setup.sh:/compose/mongo_setup.sh:Z
    restart: always
    healthcheck:
      test: mongosh --quiet --eval "try { var status = rs.status(); if (status.members[0].stateStr === 'PRIMARY') { quit(0); } else { quit(1); } } catch(e) { quit(1); }"
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 40s

volumes:
  mongodb-data:

networks:
  cdp-tenant:
    driver: bridge
    name: cdp-tenant
