services:
  waste-tracking-external-api:
    image: defradigital/waste-movement-external-api:${WASTE_TRACKING_EXTERNAL_API_VERSION:-latest}
    ports:
      - '3001:3001'
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      PORT: 3001
      NODE_ENV: development
      ENVIRONMENT: local
      MONGO_URI: mongodb://mongodb:27017/?replicaSet=rs0&directConnection=true
      WASTE_TRACKING_SERVICE_URL: http://waste-tracking-id-backend:3001
      WASTE_MOVEMENT_SERVICE_URL: http://waste-movement-backend:3001
      WASTE_ORGANISATION_SERVICE_URL: http://waste-organisation-backend:3001
      SERVICE_AUTH_PASSWORD: ${SERVICE_AUTH_PASSWORD}
    networks:
      - cdp-tenant

  waste-movement-backend:
    image: defradigital/waste-movement-backend:${WASTE_MOVEMENT_BACKEND_VERSION:-latest}
    ports:
      - '3002:3001'
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      PORT: 3001
      NODE_ENV: development
      ENVIRONMENT: local
      MONGO_URI: mongodb://mongodb:27017/?replicaSet=rs0&directConnection=true
      ORG_API_CODES: ${ORG_API_CODES}
      MONGO_READ_PREFERENCE: primary
      ACCESS_CRED_WASTE_MOVEMENT_EXTERNAL_API: ${ACCESS_CRED_WASTE_MOVEMENT_EXTERNAL_API}
      WASTE_TRACKING_SERVICE_URL: http://waste-tracking-id-backend:3001
      SERVICE_AUTH_PASSWORD_WASTE_MOVEMENT_BACKEND: ${SERVICE_AUTH_PASSWORD_WASTE_MOVEMENT_BACKEND}
      ACCESS_CRED_WASTE_ORGANISATION_BACKEND: ${ACCESS_CRED_WASTE_ORGANISATION_BACKEND}
    networks:
      - cdp-tenant

  waste-tracking-id-backend:
    build:
      context: .
      target: development
    ports:
      - '3003:3001'
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      PORT: 3001
      NODE_ENV: development
      ENVIRONMENT: local
      MONGO_URI: mongodb://mongodb:27017/?replicaSet=rs0&directConnection=true
      ACCESS_CRED_WASTE_MOVEMENT_EXTERNAL_API: ${ACCESS_CRED_WASTE_MOVEMENT_EXTERNAL_API}
      ACCESS_CRED_WASTE_MOVEMENT_BACKEND: ${ACCESS_CRED_WASTE_MOVEMENT_BACKEND}
    networks:
      - cdp-tenant
    volumes:
      - ./src:/home/node/src:Z
      - ./package.json:/home/node/package.json:Z

  waste-organisation-backend:
    image: defradigital/waste-organisation-backend:${WASTE_ORGANISATION_BACKEND_VERSION:-latest}
    ports:
      - '3004:3001'
    depends_on:
      mongodb:
        condition: service_healthy
      localstack:
        condition: service_healthy
    env_file:
      - 'compose/aws.env'
    environment:
      PORT: 3001
      NODE_ENV: development
      ENVIRONMENT: local
      MONGO_URI: mongodb://mongodb:27017/?replicaSet=rs0&directConnection=true
      MONGO_READ_PREFERENCE: primary
      WASTE_CLIENT_AUTH_WASTE_MOVEMENT_EXTERNAL_API: ${WASTE_CLIENT_AUTH_WASTE_MOVEMENT_EXTERNAL_API}
      S3_ENDPOINT: http://localstack:4566
      SQS_ENDPOINT: http://localstack:4566
      AWS_S3_FORCE_PATH_STYLE: true
    networks:
      - cdp-tenant

  mongodb:
    image: mongo:6.0.13
    entrypoint: ['bash', '/compose/mongo_setup.sh']
    networks:
      - cdp-tenant
    ports:
      - '27017:27017'
    volumes:
      - mongodb-data:/data/db
      - ./compose/mongo_setup.sh:/compose/mongo_setup.sh:Z
    restart: always
    healthcheck:
      test: mongosh --quiet --eval "try { var status = rs.status(); if (status.members[0].stateStr === 'PRIMARY') { quit(0); } else { quit(1); } } catch(e) { quit(1); }"
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 40s

  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack:Z'
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh:Z
    healthcheck:
      test: ['CMD', 'stat', '/tmp/READY']
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - cdp-tenant

volumes:
  mongodb-data:

networks:
  cdp-tenant:
    driver: bridge
    name: cdp-tenant
